body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 50px;
}

nav ul li a:hover {
    background-color: #555;
}
